.main
    min-height: 893px
    background: url('../img/main__bg.png') no-repeat
    background-position: right
    position: relative
    &__header
        padding: 20px 60px 0
        display: flex
        justify-content: space-between
    &__logo
        display: flex
        gap: 24px
        &-img
            max-width: 56px
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 140px
        &-title
            font-family: $museo
            font-weight: 600
            font-size: 16px
            line-height: 140.5%
            letter-spacing: 0.02em
            color: $grey-color
            transform: translateY(-4px)
        &-descr
            font-family: $museo
            font-weight: 400
            font-size: 12px
            line-height: 100.5%
            letter-spacing: 0.02em
            color: $grey-color
    &__menu
        display: flex
        align-items: center
        gap: 30px
        &-tel
            font-weight: 600
            font-size: 16px
            line-height: 140.5%
            color: #585858
        &-icons
            display: flex
            gap: 15px
        &-btn
            width: 244px
            height: 56px
            border: 1px solid #fff
            color: #fff
            padding: 18px 36px
            border-radius: 10px
            font-family: $museo
            font-weight: 700
            font-size: 14px
            line-height: 140.5%
            letter-spacing: 0.13em
            text-transform: uppercase
    &__main
        position: absolute
        top: 50%
        transform: translateY(-50%)
        &-descr 
            margin-top: 31px
            font-weight: 300
            font-size: 24px
            line-height: 140.5%
            color: #585858
            & span
                font-weight: 500
        &-btn
            width: 358px
            height: 78px
            background: linear-gradient(180deg, #618ACC 0%, #091C3A 100%)
            box-shadow: 0px 4px 0px #142237
            border-radius: 10px
            font-family: $museo
            font-weight: 700
            font-size: 16px
            line-height: 140.5%
            letter-spacing: 0.13em
            text-transform: uppercase
            color: #FFFFFF
            padding-top: 4px
            margin-top: 60px